h1 {
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

/* It has been add flex structure and items has been set in the center. */
.robots {
	display: flex;
	justify-content: center;
	align-items: center;
}

.head, 
.left_arm, 
.torso, 
.right_arm, 
.left_leg, 
.right_leg {
	 background-color: #5f93e8;
}

.head { 
	width: 200px; 
	margin: 0 auto; 
	height: 150px; 
	border-radius: 200px 200px 0 0; 
	margin-bottom: 10px;
} 

/* The flex structure has been added for the placement of the eyes. */
.eyes {
	display: flex;
	justify-content: center;
	position: relative;
}

.upper_body { 
	width: 300px; 
	height: 150px;
	display: flex; 
} 

.left_arm, .right_arm { 
	width: 40px; 
	height: 125px;
	border-radius: 100px; 
} 

.left_arm { 
	margin-right: 10px; 
} 

.right_arm { 
	margin-left: 10px; 
} 

.torso { 
	width: 200px; 
	height: 200px;
	border-radius: 0 0 50px 50px; 
} 

.lower_body { 
	width: 200px; 
	height: 200px;
	/* This is another useful property. Hmm what do you think it does?*/
	margin: 0 auto;
	/* The flex structure has been added for the placement of the lower body. */
	display: flex;
	justify-content: center;
	align-items: center;
} 

.left_leg, .right_leg { 
	width: 40px; 
	height: 120px;
	border-radius: 0 0 100px 100px; 
} 

.left_leg { 
	/* margin-left: 45px; */
	/* margin-left has been deleted and margin-top added. */
	margin-top: -50px; 
} 

.left_leg:hover {
	-webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
}

.right_leg { 
	margin-left: 30px;
	/*margin-top added. */
	margin-top: -50px;
}

.left_eye, .right_eye { 
	width: 20px; 
	height: 20px; 
	border-radius: 15px; 
	background-color: white;  
} 

.left_eye { 
	/* These properties are new and you haven't encountered
	in this course. Check out CSS Tricks to see what it does! */

	/* Changed position from relative to absolute. */
	position: absolute;
	top: 100px; 
	left: 40px; 
} 

.right_eye { 

	/* Changed position from relative to absolute. The value of left has been changed as 140px. */
	position: absolute; 
	top: 100px; 
	left: 140px; 
}





